<div class="container-dark">
  <div class="header">
    <div>
      <h3>Episódios </h3>
    </div>
  </div>
  <div class="container-list" *ngFor="let episode of episodes | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
    <div style="width: 20%">
      <h3>{{episode.title}}</h3>
      <small>Temporada {{episode.season}} - Episódio {{episode.episode}}</small>
    </div>
    <div style="width: 10%">
      <small>Data Estreia: <p> {{episode.air_date}} </p></small>
    </div>
    <div style="width: 60%" class="container-character">
      Personagens:
      <span *ngFor="let character of episode.characters">
       {{character}}
      </span>
    </div>
  </div>

  <div>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
</div>
