<div class="container-dark">
  <div class="header">
    <div>
      <h3>Episódios </h3>
    </div>
  </div>
  <div class="container-list" *ngFor="let episode of episodes">
    <div style="width: 20%">
      <h3>{{episode.title}}</h3>
      <small>Temporada {{episode.season}} - Episódio {{episode.episode}}</small>
    </div>
    <div style="width: 10%">
      <small>Data Estreia: <p> {{episode.air_date}} </p></small>
    </div>
    <div style="width: 60%" class="container-character">
      Personagens:
      <span *ngFor="let character of episode.characters">
       {{character}}
      </span>
    </div>
  </div>

  <div style="margin: 0 auto;">
    <div>
      <span style="margin: 5%; cursor: pointer" *ngFor="let page of pagination;index as i"
            (click)="listEpisodes(page.limit, page.offset)">{{i + 1}}</span>
    </div>
  </div>
</div>
