<div class="app-body">
  <!-- Main content -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid px-0">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isShown = !isShown">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
          <img src="/assets/images/breaking-bad-logo.png" width="20%">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link"[routerLink]="['/']"  (click)="isShown = false">Personagens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/episodes']" (click)="isShown = false">Episodios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/suggestions']" (click)="isShown = false">Sugestoẽs</a>
            </li>
          </ul>
        </div>
        <div>
          <form class="form">
            <input class="form-control" type="search" placeholder="Pesquisar" name="search" [(ngModel)]="search"
                   aria-label="Pesquisar">

            <i class="fa fa-search" (click)="onSubmit()"></i>
          </form>
        </div>

      </div>
    </div>
  </nav>
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

