input {
  background-color: #000000;
  border-color: #000000;
  border-bottom-color: #495057;
}

i {
  color: #495057;
  position: relative;
  bottom: 25px;
  left: 90%;
}


@media screen and (max-width: 960px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

  }
}

@media screen and (min-width: 960px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.form {
  margin-top: 20px !important;
  width: 300px;
}
