input {
  background-color: #000000;
  border-color: #000000;
  border-bottom-color: #495057;
}

i {
  color: #495057;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
