input {
  background-color: #000000;
  border-color: #000000;
  border-bottom-color: #495057;
}

i {
  color: #495057;
}


@media screen and (max-width: 960px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
