<router-outlet></router-outlet>

<ngx-loading-bar [color]="loadingService.bar_color" [includeSpinner]="false"></ngx-loading-bar>

<div id="fullscreen-loader" class="fullscreen-loader">
  <div class="animation">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
</div>


<div id="circle-loader" class="loader-2">
  <span></span>
</div>
