<div class="container-dark">
  <div class="container-header">
    <div>
      <h3>Personagens </h3>
    </div>
    <div>
      <span>Filtrar por: </span>
      <button type="button" class="btn btn-outline-success" (click)="filterCharacters('Alive')">Vivo</button>
      <button type="button" class="btn btn-outline-danger" (click)="filterCharacters('Deceased')">Morto</button>
      <button type="button" class="btn btn-light" (click)="listCharacters()">Todos</button>
    </div>
  </div>

  <div class="container-cards">
    <div class="card-columns">
      <div class="card" *ngFor="let character of characters | paginate: { itemsPerPage: 8, currentPage: page };" style="min-height: 450px !important;">
        <div [class]="character.status">
          <p>{{character.status | translate}}</p>
        </div>
        <img class="card-img-top" src="{{character.img}}" alt="Card image cap" style="height: 420px">
        <div class="card-body align">

          <h5 class="card-title">{{character.name}}</h5>
          <p class="card-text">
            <small class="text-muted">{{character.birthday}}</small>
          </p>
          <p class="card-text">
            <small class="text-muted" *ngFor="let occupation of character.occupation">{{occupation}}.</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
</div>
