/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';


@media screen and (max-width: 960px) {
  .app-body{
    background-color: #000000 !important;
    padding: 0 0 0 0;
  }
}

@media screen and (min-width: 960px) {
  .app-body{
    background-color: #000000 !important;
    padding: 0 10% 0 10%;
  }
}

.bg-dark {
  background-color: #000000 !important;
}

.container-dark {
  background-color: #000000 !important;
  margin-top: 3%;
}

.container-fluid {
  color: #ffffff;
}

.card{
  background: #000000 !important;
}

.text-muted {
  color: #ffffff !important;
}

.ngx-pagination{
  text-align: center;
  margin: 3% auto;
}
.ngx-pagination a span {
  color: #495057;
}
.ngx-pagination a {
  color: #ffffff;
}
//
//.modal-body{
//  background-color: #000000;
//}
//
//.modal-header {
//  background-color: #000000;
//  color: white;
//  border-color: black;
//}
