/* You can add global styles to this file, and also import other style files */
.bg-dark {
  background-color: #000000 !important;
}

.app-body{
  background-color: #000000 !important;
  padding: 0 10% 0 0;
}
